<span class="handle pull-left">
    <i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i>
</span>
<label dnd-nodrag >
    <input type="checkbox" ng-model="task.checked" ng-click="toggleTodo(task.id, task.checked)" />
</label>

<span dnd-nodrag class="todo-title display-flex">
    <span ng-if="!_.edit" ng-dblclick="_.edit = true" class="flex">
        <span marked="task.title"></span>
    </span>
    <span ng-if="_.edit"  class="display-flex flex">
        <textarea
            class="flex"
            ng-model="task.title"
            class="todo-edit-title"
            ng-change="updateTodo(task.id, {title: task.title})"
            ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }"
            autofocus
            on-enter="blur($event);_.edit = false"
            on-esc="_.edit = false"
            msd-elastic></textarea>
    </span>
</span>

<span class="actions" dnd-nodrag>
    <span class="btn-group" ng-if="!_.action">
        <span class="btn btn-danger btn-xs" ng-click="_.action = 'remove'">
            <i class="fa fa-times"></i>
        </span>

        <span class="btn btn-default btn-xs"  ng-click="onClone({task:task})" class="todo-kind"><i class="fa fa-clone"></i></span>
    </span>

    <span class="btn-group" ng-if="_.action">
        <span ng-click="onRemove({id:task.id})" class="btn btn-danger btn-xs" ng-if="_.action == 'remove'">Remove task</span>

        <span ng-click="_.action = ''" class="btn btn-default btn-xs">Cancel</span>
    </span>
</span>