[task] {
    position: relative;
    border-bottom: #F1F1F1;
    height: 30px;
    font-size: 10px;
    line-height: 30px;
    input {
        margin-right: 5px;
    }
    .todo-edit-title {
        min-width: 300px;
    }

    i.inactive {
        opacity: 0.2;
    }
    .todo-actions {
        position: absolute;
        background: white;
        display: none;
        top: 0;
        right: 0;
        height: 30px;
    }
    .todo-actions-hover {
        float: right;
        &:hover {
            .todo-actions {
                display: block;
            }
        }
    }
}