<div class="board-content">
    <div class="board-menu">
        <div class="board-menu-row"> <span class="board-menu-icon" ng-click="addColumn()"><i class="fa fa-plus-square-o fa-2x"></i></span> History </div>
        <br />
        <div class="board-menu-row">
            <span class="board-menu-icon" ng-class="{'no-network': !state.ui.socket_connected}"><i class="fa fa-wifi"></i></span>
        </div>
        <div class="board-history">
            <div ng-repeat="action in state.history">
                <div class="board-menu-row">
                    <span class="board-menu-icon">
                        <i class="fa fa-check" ng-if="action.sync && !action.object._metadata"></i>
                        <i class="fa fa-circle-o-notch fa-spin" ng-if="!action.sync && !action.object._metadata"></i>
                        <img ng-if="action.object._metadata.origin == 'webapp'" ng-src="{{action.object._metadata.user.url}}" width='20px'/>
                        <span ng-if="action.object._metadata.origin == 'github'"><i class="fa fa-github"></i></span>
                    </span>
                    <small>{{ action.object.type }}</small>
                </div>
            </div>
        </div>
    </div>

    <div
        ng-repeat="columnId in state.board.columns"
        column="state.columns.items[columnId]"
        on-remove="removeColumn(columnId)">
    </div>
</div>
