<div class="column-title">
    <span class="pull-left action" ng-click="onRemove()"><i class="fa fa-remove"></i></span>

    <span class="pull-right action" ng-click="addStory()"><i class="fa fa-plus"></i></span>

    <input
        ng-model="column.name"
        ng-change="updateColumn({name: column.name})"
        ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 2500, 'blur': 0 } }"
        app-autofocus="!column.stories.length"/>

    <span
        progress-bar="{{stats.done/stats.total*100}}%"
        class="pull-right"
        ng-class="{
            inactive: stats.total == 0,
            done: stats.total == stats.done && stats.total
        }"></span>

</div>

<div
    dnd-list="[]"
    dnd-inserted="onInsert(item,index,type)"
    class="column-content"
    dnd-dragover="dragoverCallback(event, index, external, type)">

    <div
        ng-repeat="storyId in column.stories"
        story="state.stories.items[storyId]"
        dnd-draggable="storyId"
        dnd-type="['story',column]"/>
</div>
