[column], column-create {
    overflow: auto;
    .column-title {
        font-size: 1.2em;
        background: #2c2d2f;
        text-align: center;
        padding: 10px;
        margin-bottom: 10px;
        height: 50px;
        border-bottom: 1px solid #000;
    }
    background: #484f57;
    margin: 0 2px;
    flex: 1;
    min-width: 350px;
    border: 2px solid #111;

    .column-content {
        min-height: 200px;

        .dndPlaceholder {
            background-color: #DBEFD6;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #ddd;
            width: 100%;
            list-style: none;
            height: 50px;
        }
    }

    .column-add-story {
        color: white;
        margin-top: 10px;
        text-align: center;
        font-size: 1.3em;
        text-shadow: 1px 1px 0px black;
    }
}
