[column] {
    .column-title {
        font-size: 1.2em;
        background: white;
        text-align: center;
        padding: 10px;
        margin-bottom: 10px;
    }
    background: #F1F1F1;
    padding: 7px;
    flex: 1;
    min-width: 350px;
    border: 2px solid #DDD;

    .column-content {
        min-height: 200px;
    }
}
