<div class="story-element" ng-click="toggleOpenStory(story.id)" ng-mouseover="select()" ng-class="{active: state.ui.selected_story.id == story.id}">
    <header class="story-header">
        <span class="handle pull-left">
            <i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i>
        </span>

        <div dnd-nodrag>
            <div class="display-flex">
                <div class="flex">{{story.title}} <span ng-if="story.size">({{story.size}})</span></div>


                <div class="pull-right">
                    <span
                        progress-bar="{{stats.done/stats.total*100}}%"
                        ng-class="{
                            'ng-hide': stats.total == 0,
                            done: stats.total == stats.done && stats.total
                        }"></span>
                </div>
            </div>
            <div class="pull-left">
                <span ng-repeat="(labelId,label) in story.labels" ng-if="label" class="tag" ng-class="'tag-'+labelId"></span>
            </div>
            <!--<div class="pull-right story-teams btn-group">
                <span
                    ng-repeat="(teamId, team) in story.teams"
                    class="label-circle btn btn-xs disabled" ng-class="state.teams.items[teamId].class"
                    >{{state.teams.items[teamId].name[0]}}
                </span>
            </div>-->
        </div>
    </header>
</div>
