<div class="story-element clearfix">
    <header class="story-header">
        <div>
            <div class="display-flex">
                <input
                    class="story-title flex"
                    ng-model="story.title"
                    ng-change="updateStory({title: story.title})"
                    ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                    app-autofocus="!story.todos.length"/>


                <div class="pull-right">
                    <span
                        progress-bar="{{stats.done/stats.total*100}}%"
                        ng-class="{
                            inactive: stats.total == 0,
                            done: stats.total == stats.done && stats.total
                        }"></span>
                </div>
            </div>
            <div>
                <span ng-repeat="(labelId,label) in story.labels" ng-if="label" class="tag" ng-class="'tag-'+labelId"></span>
            </div>
        </div>
    </header>

    <div class="display-flex flex-stretch">
        <div class="story-extended flex-2">
            <div class="clearfix">
                <div class="btn-group">

                </div>
            </div>

            <div ng-if="story.description && !_.description" class="todo-description" ng-dblclick="_.description = true">
                <span marked="story.description"></span>
            </div>

            <div ng-if="_.description || !story.description">
                <textarea
                    class="form-control"
                    msd-elastic
                    ng-model="story.description"
                    ng-change="updateStory({description: story.description}); _.description = true"
                    ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }"
                    on-enter="blur($event);_.description = false"
                    placeholder="Description"
                    on-esc="blur($event);_.description = false">
                </textarea>
            </div>
            <hr />
            <div ng-if="story.todos.length">
                <h4>Acceptance criteria</h4>
                <div class="todo-list" dnd-list="[]" dnd-inserted="onTodoMove(item,index,type)" dnd-dragover="dragoverCallback(event, index, external, type)">
                    <div
                        ng-repeat="todoId in story.todos"
                        class="todo"
                        dnd-draggable="todoId"
                        dnd-type="['todo',story]">
                        <div
                            task="state.tasks.items[todoId]"
                            edit="state.ui.stories[story.id].edit"
                            on-remove="removeTodo(id)"
                            on-clone="cloneTodo(task, $index)"></div>
                    </div>
                </div>
            </div>
            <div class="form" ng-form="todo">
                <textarea
                    ng-model="__.todo"
                    msd-elastic
                    placeholder="Add task"
                    class="form-control"
                    on-enter="addTodo(__.todo);__.todo = ''"
                    no-app-autofocus="story.todos.length"
                    on-esc="blur($event);_.description = false"></textarea>
            </div>
        </div>
        <div class="story-sidebar flex">
            <ul class="list-group">
                <li
                    ng-repeat="(teamId, team) in state.teams.items"
                    class="list-group-item display-flex">
                    <span class="label-circle" ng-class="team.class">{{team.name[0]}}</span> <small class="flex">{{team.name}}</small>

                    <span class="btn-group" ng-if="story.teams[teamId]">
                        <span
                            class="btn btn-xs btn-default"
                            ng-click="teamNextStep(teamId)">
                            {{story.teams[teamId].step}}
                        </span>
                        <span
                            class="btn btn-xs btn-danger"
                            ng-click="removeTeam(teamId)">
                            <i class="fa fa-remove"></i>
                        </span>
                    </span>
                    <span class="pull-right" ng-if="!story.teams[teamId]">
                        <span
                            class="btn btn-xs btn-primary"
                            ng-click="teamNextStep(teamId)">
                            add
                        </span>
                    </span>
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item">Estimate <input class="pull-right" ng-change="updateStory({size: story.size})" ng-model="story.size" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }"/></li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item text-center">Ressources</li>
                <li class="list-group-item" ng-repeat="ressource in story.ressources"><a ng-href="{{ressource.url}}" target="_about">{{ressource.title}}</a></li>
                <li class="list-group-item">
                    <form name="form_ressource" ng-submit="addRessource(__.ressource);__.ressource = {}">
                        <input ng-model="__.ressource.title" ng-required="true" placeholder="Title"/>
                        <input ng-model="__.ressource.url" ng-required="true" placeholder="https://…"/>
                        <button class="btn btn-success btn-xs" ng-disabled="form_ressource.$invalid">New ressource</button>
                    </form>
                </li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item"><span class="text-danger">Delete story (soon)</span></li>
            </ul>

        </div>
    </div>
</div>
