[story] {
    position: relative;
    display: inline-block;
    margin: 2px 0;
    border: 1px solid #DDD;
    border-radius: 4px;
    padding: 5px;
    background: white;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    width: 100%;
    min-height: 50px;
    cursor: move;
    [dnd-nodrag] {
        cursor: default;
    }
    .story-infos {
        margin: -5px;
        padding: 3px;
        border-left: 1px solid #F1F1F1;
        height: 48px;
        width: 30px;
        text-align: center;
        font-size: 1.1em;

        .story-size {
            display: inline-block;
            width: 20px;
            height: 20px;
            background: #14425e;
            color: white;
        }
    }

    .story-extended {
        margin-top: 20px;
        min-height: 50px;
    }
}

.dndDraggingSource {
    display: none;
}
.dndPlaceholder {
    display: inline-block;
    margin: 2px 0;
    border: 1px solid #DDD;
    border-radius: 4px;
    padding: 5px;
    background: white;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    width: 100%;
    list-style: none;
    height: 50px;
}
