<div dnd-nodrag>
    <span><u>{{story.title}}</u></span>
    <div class="story-infos pull-right">
        <span class="story-size">{{story.size}}</span>
        <span ng-click="__.expend = !__.expend"><i class="fa fa-angle-double-down"></i></span>
    </div>
    <div ng-if="__.expend" class="story-extended">
        <div ng-repeat="todo in story.todos" ng-init="local_todo = todo.checked">
            <input type="checkbox" ng-model="local_todo" ng-click="toggleTodo($index, local_todo)"/> {{todo.title}}
        </div>
        <input ng-model="__.todo" placeholder="add todo"/><button class="btn btn-xs btn-default" ng-click="story.todos.push({title: __.todo});__.todo = ''">oh</button>
    </div>
</div>
